# Flask and extensions
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.0

# Database
SQLAlchemy==2.0.27

# Authentication & Security
python-jose==3.3.0
python-dotenv==1.0.1
werkzeug==2.0.1
cryptography==3.4.7

# HTTP requests
requests==2.26.0

# Testing
pytest==6.2.5
pytest-flask==1.2.0

# Add other Python dependencies here
